/build/
/test/
/dist/
/nbproject/private/
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.properties
*.properties
*.properties
nbproject/private/private.properties
